<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="form-container">
    <h1>Login</h1>
    <form th:action="@{/auth/login}" method="post">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>
    <p th:if="${error}" th:text="${error}" class="error"></p>
    <p>Don't have an account? <a th:href="@{/auth/signup}">Sign Up</a></p>
</div>
</body>



<footer style="background-color: #4baf9b; color: white; text-align: center; padding: 20px;">
    <p>&copy; <span th:text="'Veeraaa ' + ${T(java.time.LocalDate).now().year}">Veeraaa</span>. All rights reserved.</p>
</footer>

</html>
